{% extends 'base.html' %}
{% load static %}
{% block title %} Contact - PVB {% endblock %}
{% block content %}


  
  
  <!-- About -->
  <section>
  <div class="container">
        <!-- Heading -->
        <div class="my-5"> </div>
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-sm-12 sm-12">
            <!-- Card -->

                <div class="text-center colores">
                <h4>Contact Us</h4>
              </div>
              <!-- Card content -->

                <div class="row">
                  <div class="col-sm-12">
                      <div class="text-center colores-contact mb-3"> Please contact us with any order enquiries or product queries.</div>
                      <p class="text-center colores-contact"> Address </p>
                      <h6 class="text-center about-colores">Unit D, E&F,  John Gilbert Way, </h6>
                      <h6 class="text-center about-colores"> Canalside North, </h6>
                      <h6 class="text-center about-colores"> Trafford Park, Manchester</h6>
                      <h6 class="text-center about-colores mb-3">M17 1UP</h6>
                      <p class="text-center colores-contact"> Email </p>
                      <h6 class="text-center about-colores mb-3"> orders@pvbmanchester.co.uk </h6>
                      <p class="text-center colores-contact"> Phone </p>
                      <h6 class="text-center about-colores"> +44 0161 820 4876 </h6>
                      <h6 class="text-center mb-5 about-colores"> +44 0161 354 0885 </h6>
                  </div>
                </div>


          </div>
        </div>
      </div>
  </section>
  
{% endblock %}

